doctype html
html(lang='ru')
  head
    meta(charset='UTF-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    title Legalbet test
    link(rel='stylesheet', href='styles/main.css')
  body#top
    block content

    script(src="scripts/index.js")